<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Books</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div class="container">
    <div class="card header">
        <div>
            <h1>Books CRUD</h1>

        </div>
    </div>


    <div class="card" th:if="${#lists.isEmpty(books)}">
        <p>No books found.</p>
    </div>

    <div class="card" th:if="${!#lists.isEmpty(books)}">
        <table>
            <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>ISBN</th>
                <th>Year</th>
                <th>Price</th>
<!--                <th>Actions</th>-->
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.title}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.isbn}"></td>
                <td th:text="${book.publishedYear}"></td>
                <td th:text="${book.price}"></td>
<!--                <td>-->
<!--                    <div class="actions">-->
<!--                             </div>-->
<!--                </td>-->
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
